body { 
	margin: 100px; 
} 

#box-one {

	background-color: blue;
	margin: 	30 px;
	padding:20px;
}

#box-two{
	margin: 20px;
	background-color: yellow;
	padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

li a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	display: block; 
	width: 200px;
	height: 30px;
	background-color: #dddddd;
}


li a:hover {
	background-color: pink;
}

